section{
  height: 100vh;
}

.searchBar{
  margin-top: 15vh;
}

.searchBar input{
  width: 100%;
  border: none;  
  border-bottom: 1px solid ;
}

.searchBar input:focus{
  outline: none;
}

input::placeholder{
  text-align: right;
  padding: 1em;
}

.typeSearch{
  border-radius: 2em;
  margin: 2em 0.5em 2em 0.5em;
  background-color: transparent;
  border: 1px solid #6E6E6E;
}
.typeSearch:hover{
  background-color: #000000;
  color: #FFF;
  transition: background-color 1s;
}

.typeSearch:focus{
  outline: none;
}

.artistContainer {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
  column-gap: 1em;
  margin: 5px;
  margin-top: 10vh;
}

.item {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0.5em;
  border: #FFF;
  box-shadow: 0px 11px 46px -13px rgba(0,0,0,0.54);
}

.item:hover{
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 1s;

}

.image{
  width: 100%;
}

.glyphicon{
  margin-right: 0.5em;
  color: #ECC3C3;
  font-size: 1.5em;
}

.saved {
  color: #000;
}

.glyphicon:hover{
  cursor: pointer; 
  color: #646464; 
}

.footer{
  margin-top: 5vh;
  background-color: #222222;
  color: #FFF;
}

.footer p {
  padding: 2vh;
  margin-bottom: 0;
}

/*Loader*/
.preload{
  background-color: #000;
}
figure{margin:0;transform:translate(-50%,-50%) rotate(0deg) scale(1.4,1.4);position:absolute;left:50%;top:50%;border-radius:150px;box-sizing:border-box;animation:rotation 20s infinite linear;}

figure div:after{content:"";width:20px;height:20px;border:1px solid #fff;box-sizing:border-box;position:absolute;left:20px;top:20px;animation:shuffle 2s infinite;}

figure div:nth-child(1){transform:rotate(0deg)}
figure div:nth-child(1):after{animation-delay:-0.5s;}
figure div:nth-child(2){transform:rotate(45deg)}
figure div:nth-child(2):after{animation-delay:-1s;}
figure div:nth-child(3){transform:rotate(90deg)}
figure div:nth-child(3):after{animation-delay:-1.5s;}
figure div:nth-child(4){transform:rotate(135deg)}
figure div:nth-child(4):after{animation-delay:-2s;}
figure div:nth-child(5){transform:rotate(180deg)}
figure div:nth-child(5):after{animation-delay:-2.5s;}
figure div:nth-child(6){transform:rotate(225deg)}
figure div:nth-child(6):after{animation-delay:-3s;}
figure div:nth-child(7){transform:rotate(270deg)}
figure div:nth-child(7):after{animation-delay:-3.5s;}
figure div:nth-child(8){transform:rotate(315deg)}
figure div:nth-child(8):after{animation-delay:-4;}

@keyframes rotation{
  100%{transform:translate(-50%,-50%) rotate(-360deg) scale(1.4,1.4);}
}
@keyframes shuffle{
  50%{transform:scale(0.4,0.4) rotate(-90deg);border-radius:50%;}
}

.form-group {
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 1em;
}

form {
  padding: 1em;
}
/*Perfil de usuario*/

.perfil img{
  border-radius: 50%;
  width: 100%;
}

.userName h1{
  font-size: 3em;
  margin: 6vh 0 4% 4%;
}

.userName p{
  font-size: 1.5em;
  margin: 0 0 4% 4%;
}

.collection {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
  column-gap: 1em;
  margin: 5px;
  margin-top: 10vh;
}

.artwork {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0.5em;
  border: #FFF;
  box-shadow: 0px 11px 46px -13px rgba(0,0,0,0.54);
}

.collectionTitle {
  margin-top: 8vh;
}

